<figure class="figure">
    <img src="../../../assets/images/actor.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="..."
    style="max-width: 120px;">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">(role)</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/actor.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="..."
    style="max-width: 120px;">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">(role)</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/actor.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="..."
    style="max-width: 120px;">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">(role)</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/actor.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="..."
    style="max-width: 120px;">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">(role)</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/actor.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="..."
    style="max-width: 120px;">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">(role)</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/actor.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="..."
    style="max-width: 120px;">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">(role)</figcaption>
</figure>